@import '../../styles/vars';
@import '../../styles/typography';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  .editProfileContainer {
    width: 600px;
    margin: 0 auto;
    padding: 40px 20px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;

    .form {
      margin: 0 25px
    }

    .avatarWrapper {
      display: inline-block;
    }

    .formList {
      list-style: none;
    }

    .formListItem {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray8;
      margin-bottom: 8px;

      .inputWrapper {

        .input {
          width: 100%;
          padding: 8px 0 8px 0;
          border: none;
          margin-right: 5px;
          margin-bottom: 3px;
          color: $gray50;
          text-align: right;
        }

        .error {
          font-size: 12px;
          display: block;
          width: 100%;
          line-height: 12px;
          text-align: left;
          margin-left: 10px;
          position: relative;
          color: red;
        }
      }
    }

    .sign {
      line-height: 35px;
      font-size: $fontSizeMD;
    }

    .button {
      width: 50%;
      padding: 10px;
      background-color: $primary;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 70px 0 20px 0;
    }
  }
}
