@import '../../styles/vars';
@import '../../styles/typography';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .link {
    color: $primary;
    text-decoration: inherit;
    cursor: pointer;
  }

  .title {
    margin: 10px;
  }

  .subTitle {
    margin-bottom: 60px;
  }
}
